:root {
    --primary-color: white;
--secondary-color: #b5838d;
--accent1-color: #BCB8B1;
--accent2-color: #6d6875;
  /* change the values below to your chosen font(s) */
  --heading-font: "Playfair Display, Raleway, IM Fell French Canon SC";
  --paragraph-font: Maven Pro, Helvetica, sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&family=Maven+Pro&family=Montserrat:wght@300&family=Playfair+Display&family=Poppins:wght@300;400&display=swap');

#content { 
    max-width: 1600px;
    margin: 0 auto;
}

header{
    display: grid;
    grid-template-columns: 180px, auto;
    align-items: center;
    background-color: white;
}
#logo_link {
 grid-column: 1/2;
 
}
img {
    max-width: 100%;
}
nav {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}
nav a {
    text-decoration: none;
    font-size: larger;
    color:#242323;
    font-family: var(--paragraph-font);
    padding: 14px;
    border-radius: 5px;
}
nav a:hover{
    color: white;
    background-color: #BCB8B1;
}
nav a.active {
    background-color: white;
    color:#242323;
}
    .logo {
        padding-top: 5px;
        justify-self: center;
        align-self: center;
        width: 50%;
    }
   #home {
    position: relative;
    text-align: center;
   }
#impacts-img{
    width: 50%;
}
.impacts-msg{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 60%;
    font-family: var(--heading-font);
    font-size: 60px;
    color: white;
    padding: 15px;
}
.impacts-msg:hover {
background: #6d6875;
opacity: 90%;
padding: 5px;
}
.impacts-text, {
    border-radius: 70%;
    margin: 40px;
    padding-left: 120px;
    padding-right: 120px;
}
.quote-text {
    margin: 60px;
    padding-left: 460px;
    padding-right: 460px;
    line-height: .8cm;
    background-color: #b5838d;
    color: white;
    

}
.impacts {
    text-align: center;
    font-size: larger;
    font-family: var(--paragraph-font)
}
#general {
align-self: right;
width: auto;
}
#drawing {
    align-self: center;
    width: 700px;
}
.social {
    align-items: left;
    padding: 40px;
    margin: 30px;
}
footer {
    color:#242323;
    font-family: var(--paragraph-font);
    background-color: #BCB8B1;
    text-decoration: none;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   font-size: large;
}
footer a {
    text-decoration: none;
    color:#242323;
}
footer a:hover {
    color: white;
}