:root {
    --primary-color: white;
--secondary-color: #b5838d;
--accent1-color: #BCB8B1;
--accent2-color: #6d6875;
}
#content { 
    max-width: 1600px;
    margin: 0 auto;
}
header{
    display: grid;
    grid-template-columns: 180px, auto;
    align-items: center;
    background-color: white;
}
#logo_link {
 grid-column: 1/2;
}
img {
    max-width: 100%;
}
nav {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
nav a {
    text-decoration: none;
}
    .logo {
        padding-top: 5px;
        justify-self: center;
        align-self: center;
    }
   #home {
    position: relative;
    text-align: center;
   }
#mainhotel-img{
    width: 320px;
}
.mainhotel-msg{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 50%;
}
.ella{
    text-align: center;
}
#wedding-img{
align-self: center;
}
